<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Search" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.Azure.WebJobs" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="1.8.1" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="2.5.2" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="6.13.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Ninject" version="3.2.3-unstable-012" targetFramework="net452" />
  <package id="Rebus" version="0.99.52" targetFramework="net452" />
  <package id="Rebus.AzureServiceBus" version="0.99.52" targetFramework="net452" />
  <package id="Rebus.Ninject" version="0.99.52" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.2.0" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="4.2.1" targetFramework="net452" />
</packages>